
<mat-toolbar fxLayout="row" color="primary">
    <span fxFlex>
    <img src="../assets/logo.png" height="50">
      obenbrewhub.com</span>
    <button mat-button *ngFor="let item of menuItems" fxHide.xs>
        <mat-icon class="mr">{{item.icon}}</mat-icon>
        {{item.label}}
    </button>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <ng-container *ngFor="let item of menuItems">
            <button mat-menu-item>
                <mat-icon class="mr">{{item.icon}}</mat-icon>
                {{item.label}}
            </button>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-menu>
</mat-toolbar>

<div class="container" *ngIf="openBrew.openBrewVersion">
  <div class="flex-container" fxLayout="row wrap" fxLayout.xs="column">
    <mat-card fxFlex.gt-xs="80%" [fxFlex.gt-md]="100">
      <mat-card-title>{{openBrew.brewStyle}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <!-- {{openBrew.descriptions[1].text}} -->
        {{openBrew.matureTime.amount}} {{openBrew.matureTime.timeUnit}}
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.gt-xs="50%" [fxFlex.gt-md]="100 / 4">
      <!-- <mat-card-title>{{openBrew.matureTime.descriptions[1].text}}</mat-card-title> -->
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        {{openBrew.matureTime.amount}} {{openBrew.matureTime.timeUnit}}
      </mat-card-content>
    </mat-card>
    
    <mat-card fxFlex.gt-xs="50%" [fxFlex.gt-md]="100 / 4">
      <mat-card-title>Stammwürze</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
          {{openBrew.originalWort.amount}} {{openBrew.originalWort.ratioUnit}}
      </mat-card-content>
  </mat-card>
  </div>
</div>