<mat-toolbar fxLayout="row" color="primary">
  <span fxFlex>
    <img src="../assets/logo.png" height="50">
    obenbrewhub.com</span>
  <button mat-button *ngFor="let item of menuItems" fxHide.xs (click)="onClick($event)">
    <mat-icon class="mr">{{item.icon}}</mat-icon>
    {{item.label}}
  </button>
  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #dropMenu="matMenu" >
    <ng-container *ngFor="let item of menuItems">
      <button mat-menu-item  (click)="onClick($event)">
        <mat-icon  class="mr">{{item.icon}}</mat-icon>
        {{item.label}}
      </button>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-menu>
</mat-toolbar>
<div *ngIf="openBrew.openBrewVersion">

  <div class="container">
    <div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxFill fxLayoutAlign="space-around center">
      <mat-card fxFlex.gt-xs="90%" [fxFlex.gt-md]="90">
        <mat-card-title>{{openBrew.brewStyle}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          {{openBrew.description}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="container">
    <div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxFill fxLayoutAlign="space-around center">
      <mat-card fxFlex.gt-xs="90%" [fxFlex.gt-md]="90">
        <mat-card-title>Werte</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          {{i18n.WORT}}
          {{openBrew.originalWort.amount}}
          {{openBrew.originalWort.ratioUnit}}
        </mat-card-content>
        <mat-card-content>
          {{i18n.ALCOHOL}}
          {{openBrew.alcoholContent.amount}}
          {{openBrew.alcoholContent.ratioUnit}}
        </mat-card-content>
        <mat-card-content>
          {{i18n.BITTERNESS}}
          {{openBrew.bitterness.amount}}
          {{openBrew.bitterness.tasteUnit}}
        </mat-card-content>
        <mat-card-content>
          {{i18n.CARBONDIOXIDE}}
          {{openBrew.carbonDioxide.amount}}
          {{openBrew.carbonDioxide.ratioUnit}}
        </mat-card-content>
        <mat-card-content>
          <h3>{{i18n.BREWINGWATER}}</h3>
          <div>
            {{openBrew.ingredients.water.alkalinity.chemicalUnit}}
            {{openBrew.ingredients.water.alkalinity.amount}}
          </div>
        </mat-card-content>
        <mat-card-content>
          <h3>{{i18n.MALT}}</h3>
          <div *ngFor="let malt of openBrew.ingredients.solids">
            {{malt.relativeAmount.amount}} {{malt.relativeAmount.ratioUnit}} {{malt.name}}
          </div>
        </mat-card-content>
        <mat-card-content>
          <h3>{{i18n.HOP}}</h3>
          <div *ngFor="let hop of openBrew.ingredients.hops">
            {{hop.name}} {{hop.shape}} alpha: {{hop.alpha}} {{hop.shape}}
          </div>
        </mat-card-content>
        <mat-card-content>
          <h3>{{i18n.YEAST}}</h3>
          {{openBrew.ingredients.yeast.name}}
          {{openBrew.ingredients.yeast.yeastAmount.amount}}
          {{openBrew.ingredients.yeast.yeastAmount.ratioUnit}}
          <h3>Maische</h3>
          <div *ngFor="let rest of openBrew.brewing.mashing.rests">
            {{rest.name}} bei {{rest.targetTemperature.amount}} {{rest.targetTemperature.tempUnit}}
          </div>
        </mat-card-content>
        <mat-card-content>
          <h3>{{i18n.MASH}}</h3>
          <div *ngFor="let rest of openBrew.brewing.mashing.rests">
            {{rest.name}} bei {{rest.targetTemperature.amount}} {{rest.targetTemperature.tempUnit}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<style>
  h3 {
    font-weight: bolder;
  }
  .mat-card{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border: none;
}
</style>